.jumbotron-fluid{
  height: 630px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/maintenance2.png");

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.display-3 {
letter-spacing: 0.05em;
margin-top: 150px;
text-align: center;
}

.bouttons-main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  
}


.display-3-titre {
text-align: center;
margin-bottom: 50px;
}

.display-3-titre-2 {
  margin-top: 50px;
  text-align: center  ;
}

.card-footer {
  text-align: center;
}

.espace {
  height: 35px;
}



img:hover {
opacity:0.7;
-moz-transition: opacity 0.7s;
-webkit-transition: opacity 0.7s;
-o-transition: opacity 0.7s;
}

footer {
  background-color: gray;
  color: white;
}
.fb-ic, .ins-ic {
  color: white;
  text-decoration: none;
  transition: color 1s, font-size 1s;
}
.fb-ic:hover, .ins-ic:hover {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav-link {
  transition: font-size 1s;
}

.nav-link:hover {
  font-size: 17px;
  font-weight: bold;
}