.jumbotron-fluid{
  height: 630px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/maintenance2.png");

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.display-3 {
margin-top: 150px;
text-align: center;
}

.bouttons-main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.display-3-titre {
  text-align: center;
margin-bottom: 50px;
}

.display-3-titre-2 {
  margin-top: 50px;
  text-align: center  ;
}

.card-footer {
  text-align: center;
}

.espace {
  height: 35px;
}

a:hover { color: rgb(9, 161, 244) !important; }

.ml12 {
  font-weight: 350;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.ml12 .letter {
  font-weight: 300;
  display: inline-block;
  line-height: 1em;
}
.lead {
  margin-top: 20px;
}